<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>MyFinalApp</display-name>

    <servlet>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <servlet-class>ServiceRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <url-pattern>/ServiceRequestServlet</url-pattern>
    </servlet-mapping>

</web-app>
